{% extends "master.html" %}

{% block content %}
<div class="container mt-5 text-white">
    {% if employee_form %}
    <div class="card p-4 mb-4" data-aos="fade-up" data-aos-duration="1500">
        <form method="post">
            {% csrf_token %}
            <h2 class="mb-4 text-dark">Deja tu informacion abajo</h2>
            <div class="mb-3">
                {{ employee_form.as_p }}
            </div>
            <button type="submit" class="btn btn-dark w-100">Submit</button>
        </form>
    </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}


    {% if uri %}
    <div class="card p-4"data-aos="fade-up" data-aos-duration="1500"data-aos-delay='1000'>
        <h3 class="text-dark">Results</h3>
        <p>Median: {{ median }}</p>
        <p>Range: {{ range }}</p>
        <img class="img-fluid mt-3"  src="data:image/png;base64,{{ uri }}">
    </div>
    {% endif %}
</div>
{% endblock %}