<!DOCTYPE html>
<html>
<body>

<h2>Gráficos</h2>

<p>Distribución de Salarios:</p>
<img src="data:image/png;base64,{{ sal_hist }}" alt="Distribución de Salarios">

<p>Salario vs. Experiencia:</p>
<img src="data:image/png;base64,{{ el_scat }}" alt="Salario vs. Experiencia">

<p>Salarios por Tipo de Empleo:</p>
<img src="data:image/png;base64,{{ et_bars }}" alt="Salarios por Tipo de Empleo">

<p>Salarios por Tamaño de la Empresa:</p>
<img src="data:image/png;base64,{{ cs_box }}" alt="Salarios por Tamaño de la Empresa">

<p>Ratio de Trabajo Remoto vs. Salario:</p>
<img src="data:image/png;base64,{{ rr_bars }}" alt="Ratio de Trabajo Remoto vs. Salario">

</body>
</html>
