{% extends "master.html" %}
{% block content %}
<div class='container'style='display:flex;justify-content:center;align-items:center;height:100vh'>
    <div class="card m-5 p-1" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">¿Buscas empleo?</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        </div>
        <img src="https://images.pexels.com/photos/1367269/pexels-photo-1367269.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" style='height:200px' alt="...">
        <a href="http://127.0.0.1:8000/data_salaries/empleado/" class="btn btn-secondary w-100 btn-lg mt-1">Explora ahora</a>
    </div>

    <div class="card m-5 p-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">¿Buscas empleados?</h5>
      <p class="card-text">Busca segun tus necesidades y calcula</p>
    
    </div>
    <img src="https://images.pexels.com/photos/290275/pexels-photo-290275.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" style='height:200px' alt="...">
    <a href="http://127.0.0.1:8000/data_salaries/dueño/" class="btn btn-secondary w-100 btn-lg mt-1">Explora ahora</a>
  </div>
</div> 
{% endblock %}