{% extends "master.html" %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 container">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 text-white" style="margin-top: 7px">Ingrese los datos</h1>
      </div>
    
      
    {% if form %}
    <form enctype="multipart/form-data" method="post" class='text-white'>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
{% endif %}
      <h2 style="margin-top: 15px" class='text-white'>El dataset sera mostrado debajo de este mensaje</h2>

{% endblock %}