{% extends "master.html" %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 container">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 text-white" style="margin-top: 7px ">Data set</h1>
      </div>

      <head>
        <title>Search Bar Example</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <b class='text-white'>Search the entire table:
            <input id="entireSearch" type="text" placeholder="Search here">
        </b>
    
        <br>
    
        <b class='text-white'>Search specific column (Work Year, Experience Level, etc.):
            <select id="columnSelect">
                <option value="all">All Columns</option>
                <option value="work_year">Work Year</option>
                <option value="experience_level">Experience Level</option>
                <option value="employment_type">Employment Type</option>
                <option value="job_title">Job Title</option>
                <option value="salary">Salary</option>
                <option value="salary_currency">Salary Currency</option>
                <option value="employee_residence">Employee Residence</option>
                <option value="remote_ratio">Remote Ratio</option>
                <option value="company_location">Company Location</option>
                <option value="company_size">Company Size</option>
            </select>
            <input id="columnSearch" type="text" placeholder="Search column">
        </b>
    
        <br><br>
      <div class="col-md-9" style="overflow-x: auto">
        <table class='table table-striped' id="geeks" border="1" style='width:auto'>
            <thead>
                <tr>
                    <th>Work Year</th>
                    <th>Experience Level</th>
                    <th>Employment Type</th>
                    <th>Job Title</th>
                    <th>Salary</th>
                    <th>Salary Currency</th>
                    <th>Employee Residence</th>
                    <th>Remote Ratio</th>
                    <th>Company Location</th>
                    <th>Company Size</th>
                </tr>
            </thead>
            <tbody>

                {% for row in data %}
                <tr>
                    <td>{{ row.work_year }}</td>
                    <td>{{ row.experience_level }}</td>
                    <td>{{ row.employment_type }}</td>
                    <td>{{ row.job_title }}</td>
                    <td>{{ row.salary }}</td>
                    <td>{{ row.salary_currency }}</td>
                    <td>{{ row.employee_residence }}</td>
                    <td>{{ row.remote_ratio }}</td>
                    <td>{{ row.company_location }}</td>
                    <td>{{ row.company_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

        <script>
            $(document).ready(function () {
                $("#entireSearch, #columnSearch").on("keyup", function () {
                    let entireValue = $("#entireSearch").val().toLowerCase();
                    let columnValue = $("#columnSearch").val().toLowerCase();
                    let selectedColumn = $("#columnSelect").val();
    
                    $("#geeks tbody tr").each(function () {
                        let rowText = $(this).text().toLowerCase();
                        // Show all rows if entire search is empty
                        let matchEntire = entireValue === ""; 
    
                        if (entireValue !== "") {
                            matchEntire = rowText.indexOf(entireValue) > -1;
                        }
                        // Assuming all rows initially match column search
                        let matchColumn = true; 
                        if (selectedColumn !== "all" && columnValue !== "") {
                            let columnData = $(this).find("td:nth-child(" + 
                            (selectedColumn === "work_year" ? 1 : 
                             (selectedColumn === "experience_level" ? 2 : 
                             (selectedColumn === "employment_type" ? 3 : 
                             (selectedColumn === "job_title" ? 4 :
                             (selectedColumn === "salary" ? 5 : 
                             (selectedColumn === "salary_currency" ? 6 :
                             (selectedColumn === "employee_residence" ? 7 :
                             (selectedColumn === "remote_ratio" ? 8 :
                             (selectedColumn === "company_location" ? 9 :
                             (selectedColumn === "company_size" ? 10 : 0)))))))))) +
                             ")").text().toLowerCase();
                            matchColumn = columnData.indexOf(columnValue) > -1;
                        }
    
                        $(this).toggle(matchEntire && matchColumn);
                    });
                });
            });
        </script>
    </body>

</div>
{% endblock %}